<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DomainHealth</display-name>

	<context-param>
		<param-name>dh_stats_output_path</param-name>
		<param-value>./logs/statistics</param-value>
	</context-param>
	<context-param>
		<param-name>dh_always_use_jmxpoll</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>dh_query_interval_secs</param-name>
		<param-value>30</param-value>
	</context-param>
	<context-param>
		<param-name>dh_component_blacklist</param-name>
		<param-value>domainhealth,WLHostMachineStats,wlhostmachinestats,console,consolehelp,bea_wls9_async_response,bea_wls_cluster_internal,bea_wls_deployment_internal,bea_wls_internal,_async,Mejb,bea_wls_diagnostics,bea_wls_management_internal,bea_wls_management_internal2,uddi,uddiexplorer,wls-wsat,console-help,samlacs,samlars,samlits_ba,samlits_cc,DeployerBean,sbconsole,wls_utc</param-value>
	</context-param>
	<context-param>
		<param-name>dh_csv_retain_num_days</param-name>
		<param-value>-1</param-value>
	</context-param>

	<servlet>
		<servlet-name>AppStartStopListener</servlet-name>
		<servlet-class>domainhealth.lifecycle.AppStartStopListener</servlet-class>
		<load-on-startup>0</load-on-startup>
		<run-as><role-name>SystemAdministrator</role-name></run-as>
	</servlet>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>



	<resource-ref>
		<res-ref-name>DomainHealth_IndividualServerStatCapturerWorkMngr</res-ref-name>
		<res-type>commonj.work.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AllResources</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>SystemAdministrator</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>DomainHealth</realm-name>
	</login-config>

	<security-role>
		<role-name>SystemAdministrator</role-name>
	</security-role>
	<servlet>
		<display-name>DH</display-name>
		<servlet-name>DHApp</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DHApp</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>
