<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DomainHealth</display-name>
	
	<context-param>
		<param-name>dh_stats_output_path</param-name>
		<param-value>./logs/statistics</param-value>
	</context-param>
	
	<context-param>
		<param-name>dh_always_use_jmxpoll</param-name>
		<param-value>false</param-value>
	</context-param>
		
	<context-param>
		<param-name>dh_query_interval_secs</param-name>
		<param-value>30</param-value>
	</context-param>
	
	<context-param>
		<param-name>dh_component_blacklist</param-name>
		
		<!--
		Updated by gregoan
		<param-value>domainhealth,WLHostMachineStats,wlhostmachinestats,console,consolehelp,bea_wls9_async_response,bea_wls_cluster_internal,bea_wls_deployment_internal,bea_wls_internal,_async,Mejb,bea_wls_diagnostics,bea_wls_management_internal,bea_wls_management_internal2,uddi,uddiexplorer,wls-wsat,console-help,samlacs,samlars,samlits_ba,samlits_cc,DeployerBean,sbconsole,wls_utc</param-value>
		-->
		<param-value>domainhealth,WLHostMachineStats,wlhostmachinestats,console,consolehelp,bea_wls9_async_response,bea_wls_cluster_internal,bea_wls_deployment_internal,bea_wls_internal,_async,Mejb,bea_wls_diagnostics,bea_wls_management_internal,uddi,wls-wsat,console-help,samlacs,samlars,samlits_ba,samlits_cc,DeployerBean,sbconsole,wls_utc,sbresource,sbtestservice,wls-cat,xbuslogging,xbuspublish,xbusrouting,xbustransform,ReliableWseeSAFAgent,WseeJmsServer,wlsbJMSServer,wlsbjmsrpDataSource,wli.reporting,wlsb.internal,WseeCallbackQueue,WseeMessageQueue,alsb-uddi,alsb_ws__async,dms_,httpTransport,inspection.wsil,sbinspection.wsil,consoleWorkManager,weblogic.jms.wlsbJMSServer,ReliableWseeSAFAgent,weblogic.wsee,WseeJmsServer</param-value>

	</context-param>
	
	<context-param>
		<param-name>dh_csv_retain_num_days</param-name>
		
		<!--
		Updated by gregoan
		<param-value>-1</param-value>
		-->
		
		<!--  Keep only 2 months of CSV files -->
		<param-value>60</param-value>
	</context-param>
	
	<!-- Added by gregoan -->
	<context-param>
		<param-name>dh_showdashboard</param-name>
		
		<!--  By default dashboard are visible -->
		<param-value>true</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>AppStartStopListener</servlet-name>
		<servlet-class>domainhealth.lifecycle.AppStartStopListener</servlet-class>
		<load-on-startup>0</load-on-startup>
		<run-as><role-name>SystemAdministrator</role-name></run-as>
	</servlet>
	<servlet>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<servlet-class>domainhealth.frontend.display.ShowPageControllerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LineChartImageGeneratorServlet</servlet-name>
		<servlet-class>domainhealth.frontend.display.LineChartImageGeneratorServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/corestats</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/datasourcestats/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/destinationstats/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/safstats/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/webappstats/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/ejbstats/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/workmgrstats/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/svrchnlstats/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/hostmachinestats/*</url-pattern>
	</servlet-mapping>
	
	<!--  Added by gregoan the 03/06/2014 -->
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/jmssrvdashboard/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowPageControllerServlet</servlet-name>
		<url-pattern>/safagentdashboard/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LineChartImageGeneratorServlet</servlet-name>
		<url-pattern>/charts/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>corestats</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>domainhealth-tags</taglib-uri>
			<taglib-location>/WEB-INF/tlds/domainhealth.tld</taglib-location>
		</taglib>
		
		<taglib>
			<taglib-uri>domainhealth-role</taglib-uri>
			<taglib-location>/WEB-INF/tlds/autorisation.tld</taglib-location>
		</taglib>
	</jsp-config>

	<resource-ref>
		<res-ref-name>DomainHealth_IndividualServerStatCapturerWorkMngr</res-ref-name>
		<res-type>commonj.work.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
		
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AllResources</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Administrators</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>DomainHealth</realm-name>
	</login-config>
	
	<security-role>
		<role-name>SystemAdministrator</role-name>		
	</security-role>
	
	<security-role>
		<role-name>Administrators</role-name>
	</security-role>
		
</web-app>
